body {
    border-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    color: #252525;
    font-family: Arial, Helvetica, sans-serif;
}


/* barre de navigation */

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #963B38;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0 3px 25px #15151533;
}

.navigation div {
    display: flex;
    align-items: center;
    margin: 0 30px;
}

.navigation .logo img {
    height: 80px;
} 

.navigation .rechercher {
    position: relative;
    width: 40%;
    height: 40px;
    justify-content: space-between;
    margin: 0 auto;
}

.navigation .rechercher span {
    position: absolute;
    top: 0;
    left: 5px;
    display: flex;
    width: 40px;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.navigation .rechercher input {
    display: flex;
    height: 100%;
    background-color: #f5f5f5;
    border: none;
    border-radius: 5px;
    width: calc(100% - 125px);
    height: 40px;
    padding-left: 10px;
    font-size: 15px;
    color: #151515;
    margin-right: 10px;
}

.navigation .rechercher button {
    display: flex;
    height: 40px;
    width: 120px;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5aa;
    border: none;
    border-radius: 5px;
    color: #454545;
    font-size: 16px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.navigation .rechercher button:hover {
    background-color: #b55754;
}

.navigation .rechercher button:active {
    transform: scale(0.98);
}

.navigation .utilisateur {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: end;
    gap: 15px;
}

.navigation .utilisateur a {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    border-radius: 5px;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

.navigation .utilisateur a:hover {
    background-color: #b55754;
}

.navigation .utilisateur a:active {
    transform: scale(0.98);
}

.navigation .utilisateur .connexion {
    width: 40px;
}

.navigation .utilisateur .panier {
    width: fit-content;
    gap: 15px;
    font-size: 17px;
    padding: 0 15px 0 13px;
}

.navigation .utilisateur a img {
    height: 50%;
}





/* header */

header {
    display: flex;
    align-items: end;
    margin-top: 125px;
    width: 85%;
}

/* carroussel */

.carousel {
    position: relative;
    width: 45%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 5px;
}
  
.carousel-track {
    display: flex;
    flex-direction: column;
    transition: transform 1s ease-in-out;
    animation: slide-vertical infinite 3s linear;
    padding: 0;
    margin: 0;
}
.carousel-slide {
    list-style: none;
}
  
.carousel-slide img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
 .carousel-indicators .dot {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  
   .carousel-indicators .dot.active {
    background-color: rgba(255, 255, 255, 1);
  }


/* titre */

header .titre {
    display: flex;
    flex-direction: column;
    width: 55%;
    padding-left: 100px;
}

header .titre h1 {
    font-size: 6rem;
    margin: 0 0 40px 0;
    color: #963B38;
}

header .titre p {
    font-size: 1.1rem;
    margin: 0;
    line-height: 2;
    color: #555555;
}

header .call-to-action {
    display: flex;
    margin-top: 80px;
    justify-content: start;
    gap: 40px;
}

header .call-to-action a {
    display: flex;
    height: 60px;
    width: 150px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #151515;
    font-size: 1.3rem;
    transition: ease-in-out 0.3s;
}

header .call-to-action .contacter {
    background-color: #934745;
    border: solid 3px #934745;
}

header .call-to-action .contacter:hover {
    background-color: #b55754;
    border: solid 3px #b55754;
}

header .call-to-action .inscription {
    border: solid 3px #934745;
}

header .call-to-action .inscription:hover {
    background-color: #b55754;
    border: solid 3px #b55754;
}

header .call-to-action a:active {
    transform: scale(0.98);
}

/* corps de la page d'acceuil */

main {
    display: flex;
    flex-direction: column;
    width: 85%;
}

/* information additionelles */

main .informations {
    display: flex;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: #dbd1ae30;
    border-radius: 5px;
    margin: 70px 0;
}

main .informations div {
    display: flex;
    width: 28%;
}

main .informations .card {
    flex-direction: column;
    height: 75%;
}

main .informations .card h2 {
    font-size: 1.4rem;
    color: #252525;
}

main .informations .card p {
    font-size: 1.1rem;
    color: #454545;
    line-height: 1.2;
}

main .informations .info-image {
    height: 100%;
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

main .informations .info-image img {
    height: 80%;
}


/* affichage des produits */

main .affichage-produits {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

main .affichage-produits h2 {
    font-size: 1.6rem;
    margin-bottom: 30px;
}

.produit-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;
}

@media (max-width: 1200px) {
    .produit-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .produit-grid {
        grid-template-columns: 1fr;
    }
}

.produit {
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding: 10px;
    text-align: center; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.produit:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.produit img {
    max-width: 100%; 
    height: auto; 
}

main .affichage-produits .produit-card {
    text-align: start;
    border-radius: 8px;
    overflow: hidden;
    padding: 10px;
    border: solid 2px #dbd1ae00;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

main .affichage-produits .produit-card:hover {
    border: solid 2px #b55754;
}

main .affichage-produits .produit-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

main .affichage-produits .produit-card h4 {
    color: #252525;
    margin: 25px;
    font-size: 1.3rem;
}

main .affichage-produits .produit-card p {
    display: flex;
    align-items: center;
    color: #963B38;
    gap: 10px;
    margin: 0 25px 25px 25px;
    font-size: 1.3rem;
    font-weight: 600;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

input[type="search"] {
    flex: 1;
    margin-right: 10px;
    padding: 8px;
}

button {
    background-color: #934745;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b55754;
}

.produit form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produit input[type="number"] {
    margin-bottom: 10px;
}

/*details des produits et footer*/

main .apropos {
    display: flex;
    flex-direction: column;
    width: calc(100% - 160px);
    align-items: center;
    justify-content: center;
    padding: 40px 80px;
    background-color: #dbd1ae30;
    border-radius: 5px;
    margin: 50px 0;
}

main .apropos h2 {
    font-size: 1.4rem;
}

main .apropos p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #454545;
}




/* le footer */

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #963B38;
}

footer .footer-element {
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: 40px 0;
}

footer .footer-element div {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

footer .footer-element div p {
    color: rgb(248, 218, 218);
    margin-top: 0;
    margin-bottom: 10px;
}

footer .footer-element .reseaux {
    align-items: center;
}

footer .footer-element .reseaux div {
    display: flex;
    flex-direction: row;
    height: 40px;
    gap: 40px;
    margin: 10px 0;
}

footer .footer-element .reseaux div img {
    max-height: 40px;
}

footer a{
    color:rgb(248, 218, 218);
}

