body {
    background-color: #f5f5f5; /* Couleur de fond de la page */
    font-family: Arial, Helvetica, sans-serif; /* Police de la page */
}

h1 {
    text-align: center; /* Centrer le titre */
    margin-top: 20px; /* Marge au-dessus du titre */
}

.message {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #155724;
    background-color: #d4edda; /* Couleur de fond verte */
}

.error {
    background-color: #f8d7da;
    color: #721c24;
}

table {
    width: 100%; /* Largeur de la table */
    border-collapse: collapse; /* Fusionner les bordures */
    margin-top: 20px; /* Marge au-dessus de la table */
}

th, td {
    border: 1px solid #ddd; /* Bordure des cellules */
    padding: 8px; /* Espacement interne des cellules */
    text-align: left; /* Alignement du texte à gauche */
}

th {
    background-color: #f2f2f2; /* Couleur de fond des en-têtes */
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Couleur de fond des lignes paires */
}

tr:hover {
    background-color: #f1f1f1; /* Couleur au survol des lignes */
}

a, button {
    background-color: #963B38; /* Couleur de fond des liens et boutons */
    color: white; /* Couleur du texte */
    padding: 5px 10px; /* Espacement interne */
    text-align: center; /* Centrer le texte */
    text-decoration: none; /* Pas de soulignement */
    display: inline-block; /* Afficher en ligne */
    border-radius: 4px; /* Coins arrondis */
    border: none; /* Pas de bordure */
    cursor: pointer; /* Curseur pointer pour indiquer clic possible */
}

button:hover {
    background-color: #994e4c; /* Couleur au survol des liens et boutons */
} 